body {
	background-image: url("images/img.jpg");
	background-repeat: 	no-repeat;
	background-position: 	center;
	margin: 0px;
	width: 100vw;
        height: 100vw;
	font-family: cursive;
	background-size: cover;
}
form {
	margin: 3% auto 3% auto;
	max-width: 	300px;
	padding: 2% 5% 3% 3%;
	background-color: 	white;
	opacity: 0.9;
}
h2 span {
	color: 	darkblue;
}
label, h2 {
	 font-weight: 	bolder;
}
.InpuArea {
	min-width: 	93.5%;
	padding: 5%;
	margin-top: 2px;
	border: 1.5px solid black;
	border-radius: 	5px;
}
#forgetLink {
	text-decoration: 	none;
	font-size: 	0.8em
}
#Thebuttons {
	width: 	46%;
	padding: 	5%;
	font-weight: 	bold;
	border-radius: 	5px;
} 
.button2 {
	margin-left: 2%;
}
.button1 {
	margin-right: 	2%;
	color: 	white;
	background-color: 	darkblue;
}
.button1:hover {
	background-color: 	white;
	color: 	black;
}
.button2:hover {
	background-color: 	black;
	color: 	white;
}
.icons {
		margin-bottom: 	0px;
		text-align: 	center;
}
 .icons	span {
 		color: 	white;
 		width: 	1.7em;
 		height: 	1.7em;
 		font-weight: 	bold;
 		background-color: 	darkblue;
 		border-radius: 	100%;
 		padding: 	2.5% 1.6% 0% 1.6%;
 }
 hr {
 	width: 75%;
 	margin: auto;
 	margin-top: 3%;

 }
 .icons	span:hover {
 	background-color: black;
 	color: gold;
 }
