<style>
	* {
		box-siziing: borderbox;
	}
	h1 {
		text-align: center;
	}
	body {
		color: blue;
	}
	.row {
		width: 100%;
	}
				/* SECTION TITLE*/
	.sectionTitle {
		background-color: gold; color: black; 
		border:  1px solid black; width: 140px;
		 text-align: center; padding: 1px;
		  margin-top: 0px; margin-right: 0px;
		  position: relative; left: 52%; 
	}
				/* THE THREE SECTIONS PROPERTIES*/
	.col-lg-4, .col-sm-12 {
		border: 1px solid black;
		float: left; max-width: 300px; 
		height: 220px;
		background-color: lightblue; color: black;
		margin: 10px;
		padding: 0px 0px 3px 3px;

	}
					/* MEDIA QUERY FOR DESKTOP SIZE*/
	@media (min-width: 992px) {
		.col-lg-4, .col-sm-12 {
			width: 33.33%;
		}
	}
					/* MEDIA QUERY FOR TABLET SIZE*/
	@media (min-width: 768px) and (max-width: 991px) {

			.col-lg-4 {
				width: 50%;
			}

			.col-sm-12 { width: 100% }
			
	}
					/* MEDIA QUERY FOR MOBILE SIZE*/
	@media (max-width: 767px) {
		.col-lg-4, .col-sm-12 {
			width: 100%;
		}
	}
</style>